@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&display=swap');

:root {
    --bg-color:#171717;
    --primary-color: #fbbf24;
}

body {
    background-color: var(--bg-color);
    margin: 0rem;
    min-width: 50% 50%;
    
}


.header{
    text-align: center;
    color: var(--primary-color);
    font-family:'Bona Nova',serif ;
    font-size: 2rem;
    padding: 2rem;
}


input{
    border: 4px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 90%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

.mid{
    text-align: center;
    display: block;
}


#btn-translate {
    display: inline-block;
    position: absolute;
    margin-top: 6rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    border-color: #fbbf24;
    border-radius: 0.5rem;
    background-color: var(--bg-color);
    color: var(--primary-color);
}
 
.bg-img { 
    display: inline;
    padding: 0rem;
    max-width: 10rem;
} 



.output {
    border: 4px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color: white;
    height: 10vh;
    width: 90%;
    margin: 1rem;
    padding: 1rem;

}

footer{
    text-align: center;
    align-items:bottom;
    padding: 2rem;
    color: var(--primary-color);
}
